header{ 
width: 400px; 
margin: auto; 
text-align: center; 
} 

nav{ 
outline: 3; 
text-align: center; 
width: 200px; 
} 

figure{ 

text-align: center; 
} 

body{ 
background-color: #87CEFA; 
} 

img{ 
border-radius: 20px; 
} 

footer{ 
font-size: 15px; 
color: #800080; 
}

.photo img {
  height: 300px;
  width: 300px;
 
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
 
.photo img:hover {
  width: 400px;
  height: 400px;
}

.shrink img {
  height: 400px;
  width: 400px;
 
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
 
.shrink img:hover {
  width: 300px;
  height: 300px;
}

.tilt {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
.tilt:hover {
  -webkit-transform: rotate(-10deg);
     -moz-transform: rotate(-10deg);
       -o-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
}


.phone img
{
	display: block;	
	transform: scale(2);
}
.phone img:hover
{
	cursor: pointer;
	animation-name: anti_more_scale;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes anti_more_scale
{
	100%
	{
		transform: scale(1);
	}
}


.rotation_p
{
	border-radius: 100px; 
    border: 3px solid  #fffb00; 
    box-shadow: 0 0 7px #666;
	display: inline-block;
	overflow: hidden;
}
.rotation_p img
{
	display: block;	
}
.rotation_p img:hover
{
	cursor: pointer;
}

.blur img {
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
 
.blur img:hover {
  -webkit-filter: blur(5px);
}

.bw {
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
 
.bw:hover {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.brighten img {
  -webkit-filter: brightness(65%);
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

.brighten img:hover {
  -webkit-filter: brightness(145%);
}

.invert img {
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

.invert img:hover {
  -webkit-filter: invert(100%);
}

.tilt {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
.tilt:hover {
  -webkit-transform: rotate(-10deg);
     -moz-transform: rotate(-10deg);
       -o-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
}
.fig{
  display:inline-block;
  width: 200px;
     height: 200px;
     border: 5px solid #000000;
     overflow: hidden;
   justify-content: center;
   align-items: center;
  margin: 20px;
   border-radius: 15%;
}
#i1:hover{
  height: 140%;
  width: 140%;
  transition: 1s;
}
#i2:hover{
  height: 150%;
  width: 150%;
  transition: 1s;
}
#i3{
  height: 100%;
  width: 150%;
}
#i3:hover{
margin-left: -100px;
transition: 1s;
}
#i4{
  height: 150%;
  width:100%;
}
#i4:hover{
margin-top:-100px;
transition: 1s;
}
.f5:hover{
  transform:rotate(-10deg);
}
.f6:hover{
   border: 5px solid #515151 ;
   transform:rotate(360deg);
   border-radius: 50%;
   transition: 1s;
}
#i7:hover{
width:200% ;
height: 200%;
 transition: 1s;
}
.f7:hover {
padding: 0;
margin: 0;
border: 15px solid #000000 ;
 border-radius: 100%;
 transition: 1s;
}
#i8:hover{
filter: blur(10px) brightness(150%);
 transition: 1s;
}
#i9:hover{
filter: grayscale(200%);
 transition: 1s;
}
#i10:hover{
filter:brightness(200%);
 transition: 1s;
}
#i11:hover{
filter:sepia(150%);
 transition: 1s;
}
#i12:hover{
filter:contrast(200%);
 transition: 1s;
}
#i13:hover{
filter:hue-rotate(180deg);
 transition: 1s;
}
#i14:hover{
filter:invert(100%);
 transition: 1s;
}
#i15:hover{
filter:opacity(10%);
 transition: 1s;
}



* { box-sizing: border-box; }
body {
  margin: 0;
  background:  #87CEFA;
}

header a {
  text-decoration: none;
  outline: none;
  display: block;
  transition: .3s ease-in-out;
}
.logo {
  color: #D5B45B;
  font-family: 'Playfair Display', serif;
  font-size: 2.5em;
  padding: 20px 0;
}
nav {
  display: table;
  margin: 0 auto;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu:after {
  content: "";
  display: table;
  clear: both;
}
.menu > li {
  width: 25%;
  float: left;
  position: relative;
  font-family: 'Open Sans', sans-serif;
}
.menu > li > a {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: #404040;
  padding: 15px 30px;
}
.menu li a:hover { color: #D5B45B; }
.submenu-link:after {
  content: "\f107";
  font-family: "FontAwesome";
  color: inherit;
  margin-left: 10px;
}
.submenu {
  background: #273037;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 5;
  width: 180px;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: 0 0;
}
.submenu a {
  color: white;
  text-align: left;
  padding: 12px 15px;
  font-size: 13px;
  border-bottom: 1px solid rgba(255,255,255,.1);
}
.submenu li:last-child a { border-bottom: none; }
.menu > li:hover .submenu {
  opacity: 1;
  transform: scaleY(1);
}



body {margin:0;}
h2 {
  font-family: monospace;
  color: #696969;
}
nav {
  width: 660px;
  margin: 0 auto 30px;
}
ul {
  list-style: none; 
  margin: 0;
  padding: 0;
}
.topmenu > li {
  display: inline-block;
  margin-right: 20px;
  position: relative;
}
.topmenu > li:last-child {
  margin-right: 0;
}
a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  outline: none;
  font-family: 'Lora', serif;
  transition: .5s linear;
}
.fa {
  font-family: "FontAwesome";
  color: inherit;
  padding-left: 10px;
}
.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 10;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.three ul {
  background: #696969;
}
.three ul a {
  color: #4B0082;
}
.three .submenu {
  visibility: hidden;
  opacity: 0;
  background: #696969;
}
.three ul li:hover .submenu {
  visibility: visible;
  opacity: 1;
}

	